body{
    background-color: azure;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.alinhar li{
    display: inline-flex;
    align-items: center;
    margin: 15px;
    font-size: 22px;
    color: rgb(38, 114, 196);
    font-weight: bold;
}

.alinhar{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(206, 249, 249);
    width: 1822px;
    height: 150px;
    border: 1px solid;
    color: rgb(38, 114, 196);
}

.textinho{
    font-size: 25px;
}

.cabecalho{
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.logo{
    display: inline-flex;
    width: 120px;
}

.oqfazemos{
   font-size: 30px;
   background-color: rgb(255, 200, 0);
   width: 100%;
   padding: 50px;
    text-align: justify;
    color: white;
    border-radius: 10px;
}

.crianca{
    padding: 50px;
    background-color: rgb(38, 114, 196);
    color: white;
    border: 1px white;
    border-style: double;
}


.rodape{
    display: inline-flex;
    margin-left: 1090px;
}

.rodape p{
    padding: 10px;
}

.pre-rodape{
    background-color: rgb(206, 249, 249);
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid;
    color: rgb(38, 114, 196);
}

.pre-rodape h1{
    margin-left: 50px;
}