body{
    background-color: azure;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    min-width: 100%;
    max-width: 100%;
}

.chamativo{
    font-size: 60px;
}

.alinhar li{
    display: inline-flex;
    align-items: center;
    margin: 15px;
    font-size: 22px;
    color: rgb(38, 114, 196);
    font-weight: bold;
}

.alinhar{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(206, 249, 249);
    width: 100%;
    height: 150px;
    border: 1px solid;
    color: rgb(38, 114, 196);
}

.cabecalho{
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.logo{
    display: inline-flex;
    width: 120px;
}

.total{
    display: inline-flex;
}

.meio01{
    display: block;
    margin: 10px;
}

.crianca{
    display:block ;
    padding: 50px;
}

.meio-amarelo{
    display: inline-flex;
    background-color: rgb(38, 114, 196);
    color: white;
}

.textinho{
    font-size: 25px;
    background-color: rgb(255, 200, 0);
    border-radius: 10px;
    padding: 12px;
    color: white;
    border: 2px black;
    border-style: dashed;
}

.rodape{
    display: inline-flex;
    margin-left: 1090px;
}

.rodape p{
    padding: 10px;
}

.pre-rodape{
    background-color: rgb(206, 249, 249);
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid;
    color: rgb(38, 114, 196);
}

.pre-rodape h1{
    margin-left: 50px;
}